.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header > h1 {
  font-size: 20px;
  color: #1677ff;
  font-weight: 600;
}

.page-header__actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.page-header__actions > button {
  height: 30px;
  padding: 0 15px;
  background-color: #1677ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page-header__actions > button:active {
  background-color: #105dc7;
}
