.login {
  width: 100%;
  height: 100vh;
  background: url("/public/images/bc5ce546-3340-432f-b1fb-8a5d1bc02c25.png");
  background-size: 50%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFCFF;
  background-repeat: no-repeat;
}

.login-form {
  max-width: 480px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transform: translateX(-700px);
}

.login-form > h1 {
  color: #fff;
}

.login-form > label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.login-form > label span {
  font-size: 14px;
  color: #fff;
  padding-left: 5px;
}

.login-form > label input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color:black;
  background: #0bd4a2 !important;
}

.login-form > label input[type="submit"] {
  background: #0bd4a2;
  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 768px) {
  .login {
    justify-content: start;
  }
  .login-form{
    transform: translateX(0);
  }
}
