.main {
  padding: 0px;
}

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card {
  width: 32%;
  height: 150px;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.346);
  margin-bottom: 12px;
}

.card > b {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #888888;
}

.card > p {
  font-size: 15px;
  color: #888888;
}

.card > img {
  width: 40px;
}

.chart_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.chart {
  flex: 1;
  max-width: 32%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.346);
  padding-inline: 15px;
  padding-block: 15px;
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .card_container {
    flex-direction: column;
    height: auto;
    align-items: center;
    background-color: #fff;
    padding: 10px;
  }
  .card {
    width: 50%;
  }
  .chart_container {
    flex-direction: column;
    height: auto;
    flex-wrap: nowrap;
    padding-inline: 10px;
    padding-block-end: 60px;
  }
  .chart {
    width: 100% !important;
    max-width: 100%;
    height: 100px;
  }
}
