.custom-select-container {
    width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.custom-select-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding-right: 40px; /* Select elementining o'ng tomoniga bo'sh joy qo'shamiz */
}

.icon-container {
  position: absolute;
  right: 10px; /* Ikonka select elementining o'ng tomonida joylashadi */
  pointer-events: none; /* Ikonka bilan o'zaro aloqani oldini oladi */
}
